@model dynamic

@{
    ViewData["Title"] = "Punti decurtati per Trasgressore";
}

<h2>Totale Punti Decurtati</h2>

<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Punti</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Nome</td>
            <td>@r.Cognome</td>
            <td>@r.Punti</td>
        </tr>
    }
</table>
