@model PoliziaMunicipale.Models.Anagrafica

@{
    ViewData["Title"] = "Crea Scheda Anagrafica";
}

<h2>Nuovo Trasgressore</h2>

<form method="post">
    <div class="form-group">
        <label>Cognome</label>
        <input name="Cognome" class="form-control" />
    </div>

    <div class="form-group">
        <label>Nome</label>
        <input name="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label>Indirizzo</label>
        <input name="Indirizzo" class="form-control" />
    </div>

    <div class="form-group">
        <label>Città</label>
        <input name="Citta" class="form-control" />
    </div>

    <div class="form-group">
        <label>CAP</label>
        <input name="CAP" maxlength="5" class="form-control" />
    </div>

    <div class="form-group">
        <label>Codice Fiscale</label>
        <input name="Cod_Fisc" maxlength="16" class="form-control" />
    </div>

    <button class="btn btn-success mt-3">Salva</button>
</form>
