@model PoliziaMunicipale.Models.TipoViolazione

@{
    ViewData["Title"] = "Crea Violazione";
}

<h2>Nuova Violazione</h2>

<form method="post">
    <div class="form-group">
        <label>Descrizione</label>
        <input name="Descrizione" class="form-control" />
    </div>

    <button class="btn btn-success mt-3">Salva</button>
</form>
